a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p,
span {
	font-family: $fontType;
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: $backgroundMain;
}

.ml-base-containert {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
