.ml-header-search-content {
	position: relative;
}

.ml-header-search-input {
	background-color: $colorWhite;
	border-radius: $borderMl;
	height: 40px;
	padding: 7px 60px 7px 15px;
	border-color: transparent;
	box-shadow: $searchInputShadow;
	&:focus,
	&:hover {
		border-color: transparent;
		box-shadow: $searchInputShadow;
		border-right-width: 1px;
		outline: 0;
	}
}

.ml-header-search-button {
	background-color: transparent;
	position: absolute;
	right: 0;
	height: 40px;
	box-shadow: none;
	border: 0px solid transparent;
	span {
		color: $secondColor;
		font-size: 18px;
		margin-top: 10px;
	}
	::before {
		content: '';
		display: block;
		height: 26px;
		border-left: 1px solid $backgroundMain;
		position: absolute;
		top: 6.5px;
		left: 0px;
	}
}

.ml-header-search-result-content {
	z-index: 1;
	position: relative;
	background-color: $colorWhite;
	box-shadow: $searchInputShadow;
	border-radius: 0 0 $borderMl $borderMl;
	padding: 5px 0;
	li {
		cursor: pointer;
		font-weight: 500;
		padding: 5px 10px;
		&:hover,
		&:hover span {
			background-color: $mainSecondColor;
			color: $colorWhite;
		}
		span {
			color: $secondColor;
			margin-right: 10px;
			margin-left: 5px;
		}
	}
}
