.ml-header-search-content {
	position: relative;
}
.ml-header-search-input-content {
	margin-bottom: 0.5px;
}
.ml-header-search-input {
	background-color: $colorWhite;
	border-radius: $borderRadius2;
	height: 40px;
	padding: 7px 60px 7px 15px;
	border-color: transparent;
	box-shadow: $searchInputShadow;
	&:focus,
	&:hover {
		border-color: transparent;
		box-shadow: $searchInputShadow;
		border-right-width: 1px;
		outline: 0;
	}
}
.ml-header-search-button {
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	box-shadow: none;
	border: 0px solid transparent;
	span {
		color: $secondColor;
		font-size: 18px;
	}
	.ml-header-button-line::before {
		content: '';
		display: block;
		height: 26px;
		border-left: 1px solid $backgroundMain;
		position: absolute;
		top: 6.5px;
		left: 0px;
	}
}
.ml-header-search-result-content {
	z-index: 1;
	position: relative;
	background-color: $colorWhite;
	box-shadow: $searchInputShadow;
	border-radius: 0 0 $borderRadius2 $borderRadius2;
	padding: 5px 0;
	li {
		font-size: 16px;
		cursor: pointer;
		font-weight: $fontWeightlight;
		padding: 7px 10px;
		&:hover,
		&:hover span,
		&:hover a {
			background-color: $mainSecondColor;
			color: $colorWhite;
		}
		span {
			color: $secondColor;
			margin-right: 10px;
			margin-left: 5px;
		}
	}
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid $backgroundMain;
		margin: 10px auto;
		padding-bottom: 5px;
		width: 97%;
	}
	.ml-header-search-title-oficial-store {
		color: $secondColor;
		font-size: $fontSize14;
		padding: 5px 15px;
	}
}
