/** @format */

/* Colors */
$mainColor: #fff159;
$titleColor: #333333;
$secondtTitleColor: #999999;
$backgroundMain: #eeeeee;
$colorWhite: #fff;

/* Typography */
$fontType: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, Roboto,
	Arial, sans-serif, sans-serif;
