/* Colors */
$mainColor: #fff159;
$mainSecondColor: #3483fa;
$mainThirdColor: #00a650;
$titleColor: #333333;
$secondColor: #999999;
$backgroundMain: #eeeeee;
$colorWhite: #fff;
$searchInputShadow: 0 1px 2px 0 rgb(0 0 0 / 12%);

/* Images */
$imgPath: 'https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre';

/* Border Radius */
$borderRadius2: 2px;
$borderRadius4: 4px;
$borderRadius6: 6px;

/* Typography */
$fontType: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif, sans-serif;
$fontWeightlight: 300;
$fontWeightRegular: 400;
$fontWeightSemibold: 600;
$fontSize14: 14px;

/* Breakpoints */
$mediaTable: 768px;
$mediaLaptops: 992px;
$mediaLaptopsLarge: 1200px;
