.ml-breadcrumb-keywords-content {
	margin-top: 15px;
	margin-bottom: 15px;
	li {
		display: inline-block;
		font-size: $fontSize14;
		color: $secondColor;
		cursor: pointer;
	}
	span {
		margin-right: 5px;
	}
}
