.ml-header-logo-main {
	background-image: url(https://i.ibb.co/TR66GH3/logo-large-plus-2x.png);
	background-size: 134px 34px;
	height: 34px;
	width: 134px;
	background-repeat: no-repeat;
	position: absolute;
	top: 2px;

	@media only screen and (max-width: $mediaLaptopsLarge) {
		background-image: url(https://i.ibb.co/17nyGPF/logo-small-2x.png);
		background-size: 44px 32px;
		width: 44px;
		height: 32px;
		top: 4px;
	}
}
