.ml-navigation-keywords-content {
	margin-top: 15px;
	margin-bottom: 10px;
	li {
		display: inline-block;
		font-size: 13px;
		color: $secondColor;
		cursor: pointer;
	}
	span {
		margin-right: 5px;
	}
}
