/** @format */

.ml-header-content-main {
	background-color: $mainColor;
	height: 58px;
	padding: 8px 1px;
}

.ml-header-img-banner {
	max-width: 340px;
	max-height: 39px;
	margin-top: 1px;
	@media only screen and (max-width: $mediaLaptopsLarge) {
		display: none;
	}
}
